

<h1>New Games</h1>

<div class="letter-container">
  <% @letters.each do |letter| %>
    <div class="letter">
    <%= letter %>
    </div>
  <% end %>
</div>


<h2 class="question-new"> What is the longest word you can find ??????????</h2>
<div class="new-container">

  <form action="/score" method="POST" >
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <div class="input-group input-group">
      <input type="text" name="word" class="form-control">
        <input type="submit" value="Play" class="btn btn-primary">
    </div>
  </form>


</div>
<%= button_to "Refresh", new_path, :method => :get %>
